<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="email-subject" content="ReAbility">
  <meta name="email-from" content="ReAbility Online <noreply@notify.reabilityonline.com>">
  <meta name="email-reply-to" content="noreply@notify.reabilityonline.com">
</head>
<body>
  <div style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #333;">
    <p>Welcome to ReAbility system. Please <a href="{{tokenUrl}}">click here</a> to set your password.</p>
  </div>
</body>
</html>
