<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="email-subject" content="Welcome to ReAbility Online">
  <meta name="email-from" content="ReAbility Online <noreply@notify.reabilityonline.com>">
  <meta name="email-reply-to" content="noreply@notify.reabilityonline.com">
</head>
<body>
  <div style="direction:ltr; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #333;">
    <p>Hello,</p>
    <p>We're excited to have you on board and look forward to supporting you/your child on a journey towards better health.</p>
    <p>To ensure you all get the most out of the sessions, we kindly ask that the camera &amp; microphone features are enabled when you log in. This is essential for two key reasons:</p>
    <ol style="margin-left: 20px;">
      <li>A licensed therapist will be interacting with you through the platform, face to face.</li>
      <li>Many of the engaging, exercise-based games use skeletal tracking technology, which operates through the webcam to monitor your movements and provide feedback.</li>
    </ol>
    <p>Rest assured, nothing from your video images are being recorded.</p>
    <p>Please connect to our platform using this link:</p>
    <p style="font-weight: bold;"><a href="{{loginUrl}}" style="color: #007BFF; text-decoration: none;">{{loginUrl}}</a></p>
    <p><strong>Username:</strong> {{userName}}<br><strong>Password:</strong> {{password}}</p>
    <p>Your therapist will join the session once available or at the scheduled appointment time.</p>
    <p><strong>Note: On your first login, the browser will ask your permission to use the microphone and camera. Please confirm. The browser will also ask you to confirm saving the username and password. Please confirm.</strong></p>
    <p>We also suggest adding the site to the bookmarks and/or the Desktop for easy access.</p>
    <p>If you have any questions or concerns, don't hesitate to reach out to us—we're here to help!</p>
    <p>Best regards,</p>
    <p style="font-weight: bold;">The Reability Online team</p>
  </div>
</body>
</html>
