
.game-message-wrapper {
    background: linear-gradient(115deg, #80FF00 0%, #2B343B 49%);
    padding: 2px;
    border-radius: 8px;
    position: absolute;
    z-index: 3;
  }
.game-message-component {
    width: auto;
    border-radius: 8px;
    background-color: #0E191F;
    box-shadow: 0 21px 21px 0 rgba(4,17,24,0.6);
    padding: 14px;
    .game-message-container{
    display: flex;
    .content
    p{
        margin: 5px;
    }
    .img {
        margin-right: 8px;
        img{
            width: 32px;
            height: 32px;
            margin-top: 10px;
        }
    }
    .instruction{
        color: #B5B5BA;
        font-size: 20px;
    }
    .message {
        color: #ECECED;
        font-size: 28px;
        font-weight: 600;
    }
}
  } 