form {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  .column {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
  }
  :last-child {
    flex: 3;
  }
}

.field-container {
  display: block;
  margin-bottom: 24px;

  :last-child {
    margin-bottom: 0;
  }

  .description {
    display: block;
    color: #b6c5cf;
    font-family: 'Roboto bold';
    font-size: 16px;
    margin-bottom: 10px;

    .secondary {
      font-family: 'Roboto';
    }
  }

  input {
    background: inherit;
    height: 40px;
    width: 280px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
    font-family: 'Roboto';
    color: #6d7278;
    border: 1px solid #b6c5cf;
    border-radius: 10px;
    outline: none;

    &.disabled {
      opacity: 0.4;
    }
  }
}
