<div class="select-container" appClickOutside (clickOutside)="setIsOpen(false)" [class.open]="isOpen" [class.disabled]="disabled">
  <div class="header-container" [class.chosen]="isThereSelecteItem()" (click)="onClickHeader()">
    <div class="text ellipsis">
      {{ getPlaceHolderText() }}
    </div>
    <div class="arrow"></div>
  </div>
  <div class="content" #dropdownContent *ngIf="isOpen">
    <div
      class="item"
      *ngFor="let item of items; let i = index"
      [class.selected]="isSelected(item)"
      #dropdownItem
      (click)="onSelect(item.id)"
    >
      {{ item.name }}
    </div>
  </div>
</div>
