$HEADER_HEIGHT: 80px;
$LEFT_SPACE: 16px;

.content {
  height: 100%;
  overflow: auto;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  height: $HEADER_HEIGHT;
  color: #283e4a;
  padding-left: $LEFT_SPACE;
  font-family: 'Roboto bold';
  font-size: 18px;

  .back {
    display: inline-block;
    cursor: pointer;
    flex: 1;

    img {
      position: relative;
      top: 2px;
      margin-right: 12px;
    }
  }
}

.table-container {
  width: 50%;
  margin-left: 20px;
}
.expertise {
  display: flex;
  margin-top: 10px;
  padding: 0 0 0 22px;
  height: 500px;
}

.field-container {
  display: block;
  margin-bottom: 24px;
  margin-left: 6px;
  width: 138px;
  padding-right: 12px;
  &:last-child {
    display: flex;
    padding: 0;
  }

  .add {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border: 1px solid #44d7b6;
    border-radius: 20px;
    background-color: #44d7b6;
    font-size: 14px;
    font-family: 'Roboto bold';
    height: 40px;
    width: 100px;
    cursor: pointer;
    .add-text {
      text-align: center;
    }

    &.disabled {
      opacity: 0.2;
      pointer-events: none;
    }
  }
}

.backdrop-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 100000;

  .modal-container {
    position: fixed;
    max-height: 220px;
    width: 450px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: white;
    color: black;
    box-shadow: 0 24px 48px -8px rgba(17, 50, 102, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;

    .header {
      font-size: 18px;
      font-weight: bold;
    }

    .details {
      font-size: 16px;
      line-height: 21px;
      margin-top: 20px;
    }

    .buttons-container {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
    }

    .button {
      height: 21px;
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      margin-right: 20px;
      border-radius: 20px;

      &:hover {
        color: #0091ff;
      }
    }
  }
}

.expertise-name-container {
  display: block;
  margin-bottom: 24px;
  margin-left: 6px;
  padding-right: 12px;

  input {
    background: inherit;
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
    font-family: 'Roboto';
    color: #6d7278;
    border: 1px solid #b6c5cf;
    border-radius: 10px;
    outline: none;

    &.disabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }
}
