*{
	user-select: text;
}
.center{
	position: absolute;
	left:40px;
	color: black;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	width: 90%;
}
.left-section{
	display: flex;
	justify-content: space-between;
}
.middle {
	position: absolute;
	left:40px;
	color: black;
	display: flex;
	margin-top: 240px;
}
.game{
	font-size: 24px;
	line-height: 100px;
	margin-right: 20px;
}

.file-drop{
	display: flex;
	flex-direction: column;
	padding: 10px;
	border: 2px dotted #007BFF; /* Blue dotted border */
	border-radius: 10px; /* Rounded corners */
	padding: 20px; /* Spacing inside the border */
	text-align: center; /* Center text and buttons */
	margin: 20px 0; /* Space around the file drop area */
	display: inline-block; /* Prevent stretching to full width */
	width: 200px; /* Set a width for the area */
	height: 120px;

}

.delete-db{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100px;
	input{
		width: 150px;
	}
}
.browse-btn{
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 135px;
	border-radius: 20px;
	background-color: #4a7091;
    margin-left: 10px;
	margin-top: 10px;
	cursor: pointer;
	border: none;
	color: white;
	&:hover{
		opacity: 0.9;
	}
	&:disabled{
		background-color: lightgray;
		opacity: 1.0;
		cursor: not-allowed;
	}
}
.error-files{
	display: flex;
	flex-direction: column;
}

.success-msg{
	color: green;
}
.error-msg{
	color: red;
}
.url-list{
	display: flex;
}