<div class="file-uploader">
  <div class="center">
    <div class="left-section">
      <p class="game">Whiteboard</p>
      <div
        class="file-drop"
        (dragover)="onDragOver($event)"
        (drop)="onFileDrop($event)"
      >
        <div>Drag files or directory</div>
        <div>
          <button type="button" class="browse-btn" (click)="browseFiles()">Browse Files</button>
          <input type="file" #fileInput multiple webkitdirectory directory (change)="onFileSelect($event)" hidden />
        </div>
      </div>
      <div class="upload-table" *ngIf="files.length">
        <table class="table">
          <thead>
            <tr>
              <th>Files</th>
            </tr>
          </thead>
          <tbody class="upload-name-style">
            <tr *ngFor="let item of files">
              <td>
                <strong>{{ item.relativePath }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="success-msg" *ngIf="showMsg">{{ message }}</div>
      <div class="error-files" *ngIf="errorMsg">
        {{ message }}
        <div *ngFor="let file of errorFiles">
          <div class="error-msg">{{ file }}</div>
        </div>
      </div>
    </div>
    <div class="delete-db">
      <div>
        <input type="text" #passwordRef placeholder="Enter password" />
        <button (click)="checkPassword(passwordRef.value)">Check</button>
      </div>
      <div>{{ passwordMsg }}</div>
      <button class="browse-btn" (click)="clearGameDataTable()" [disabled]="!isPasswordCorrect">Clear Database</button>
      <div>{{ databaseMsg }}</div>
    </div>
  </div>
  <div class="middle">
    <div class="game">Images</div>
    <div
      class="file-drop"
      (dragover)="onDragOver($event)"
      (drop)="onImageDrop($event)"
    >
      <div>Drag images or directory</div>
      <div>
        <button type="button" class="browse-btn" (click)="browseImages()">Browse Images</button>
        <input type="file" #imageInput multiple (change)="onImageSelect($event)" accept="image/*" hidden />
      </div>
    </div>
    <div class="upload-table" *ngIf="imageUrls.length">
      <table class="table">
        <thead>
          <tr>
            <th>Images</th>
          </tr>
        </thead>
        <tbody class="upload-name-style">
          <tr *ngFor="let item of imageUrls">
            <td>
              <strong>{{ item.imageName }}</strong>
            </td>
            <td>
              <a>{{ item.url }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>