<div class="container">
  <app-calendar-header
    class="header"
    [loggedInUsername]="loggedInUser.username"
    [dateToDisplay]="headerDateString"
    [isUniqueWeek]="isUniqueWeek"
    [allowWeekChange]="!isDuringLocalChanges"
    (weekChangeEvent)="weekChange($event)"
    (toggleMenu)="toggleMenu()"
    [showViewOptions]="true"
    (showListView)="setShowListView($event)"
  ></app-calendar-header>

  <div class="main">
    <app-availability-management
      *ngIf="showMenu"
      class="management"
      [availability]="therapistAvailability.availability"
      [isUniqueWeek]="isUniqueWeek"
      (setTherapistAvailability)="setTherapistAvailability($event)"
      (deleteTherapistAvailability)="deleteTherapistAvailability()"
      (resetTherapistAvailability)="resetTherapistAvailability()"
      (setIsDuringLocalChanges)="setIsDuringLocalChanges($event)"
    ></app-availability-management>
    <app-treatment-list
      *ngIf="showListView"
      class="treatments"
      [therapistBookingViewData]="therapistBookingViewData"
      [currentDate]="currentDate"
      [availabilityClickActionType]="availabilityClickActionType"
      [bookingTimeClickActionType]="bookingClickActionType.ModifySession"
      [bookingClickActionType]="bookingClickActionType.ShowCoPatients"
      (actionSubmit)="showTreatmentDetailsModal($event)"
      (deleteOrReplaceBooking)="handleDeleteOrReplaceBooking($event)"
    ></app-treatment-list>
    <app-calendar
      *ngIf="!showListView"
      class="calendar"
      [dayOfWeekToShow]="currentDate"
      [therapistBookingDetails]="bookingData"
      [therapistAvailability]="therapistAvailability"
      [showDelete]="false"
      (updatePatient)="updatePatient($event)"
    ></app-calendar>
    <app-calendar-item-modal
      *ngIf="showModal"
      [coPatients]="coPatients"
      [coPatientPersonalMenuOptions]="coPatientPersonalMenuOptions"
      [headerTitle]="getModalHeaderTitle()"
      (onClose)="onItemModalClose()"
      (onSelectedCoPatient)="onSelectedCoPatient($event)"
      (onReasonSave)="updatePatient($event)"
    ></app-calendar-item-modal>
  </div>
</div>
<div id="audio-container-schedule"></div>
