<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<div class="container">
  <mat-dialog-actions *ngIf="isGameConfiguratorInTherapistColorset; else oldStyle" class="dialog-actions-therapist-colorset" align="end">
    <button class="leave-button-therapist-colorset" mat-button mat-dialog-close></button>
  </mat-dialog-actions>
  <ng-template #oldStyle>
    <mat-dialog-actions class="dialog-actions" align="end">
      <!--<button class="leave-button" mat-button mat-dialog-close></button>-->
    </mat-dialog-actions>
  </ng-template>
  <mat-dialog-content>
    <ng-container *ngIf="isGrillGame(); else iframeConfigurator">
      <div id="unity-container" class="unity-container">
        <canvas id="unity-canvas"></canvas>
      </div>
    </ng-container>
    <ng-template #iframeConfigurator>
      <!-- Standard iframe configurator for non-Grill games -->
      <iframe class="iframe-contianer" frameBorder="0" [src]="getConfiguratorUrl() | urlSanitaizer" (load)="onIframeLoad()" allow="autoplay *"
        id="game-iframe" allowfullscreen>
      </iframe>
    </ng-template>
  </mat-dialog-content>
</div>